# IDE and SCM files
/nbproject
.project
.idea
*~
.swp

# Bootstrap
app/bootstrap*

# Generated Folders
map
om

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters_prod.yml

